.Title {
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 170, 170);
    font-size: 75px;
}

.TitleDE {
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(170, 170, 170);
    font-size: 75px;
}

.Anleitung-Rand, .Wie-gespielt-wird-Rand, .Leaderboard-Rand {
    border: 2px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    width: 50%;
    background-color: rgb(170, 170, 170);
}

.AnleitungD {
    border: 2px solid;
    border-radius: 10px;
    padding: 3px;
    width: 50%;
    margin-top: 20px;
}

.Wie-gespielt-wird-Rand {
    margin-left: auto;
}

.Untertitel {
    font-size: 30px;
}

body {
    background-color: rgb(95, 95, 95);
    margin: 0;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;

    padding: 10px 20px;

    background-color: rgb(119, 119, 119);
    border: 3px solid;
}

.pic1 {
    width: 225px;
    margin-right: 10px;
}



.Links {
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 2px solid;
    border-radius: 10px;
    border-width: 3px;
    padding: 5px;
    background-color: rgb(170, 170, 170);
    transition: background-color 0.3s, transform 0.2s;
}

.Links:hover {
    background-color: white;
}

.Anleitung-Rand {
    border: 2px solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0px;
    width: 50%;
    background-color: rgb(170, 170, 170);

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

footer {
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid;
    border-color: black;
}

.l {
    display: inline-block;

    text-decoration: none;

    color: white;

    margin: 0 10%;
}

.tolang {
    text-decoration: none;
    color: black;

    border: 3px solid black;
    border-radius: 5px;
    background-color: white;

    font-size: 25px;
    padding: 5px;

    margin-right: 25px; /* optional Abstand zum Rand */
}
.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
}